{% extends 'layout.html' %}

{% block head %}
    <title>Dashboard</title>
    <style>
        .menublock {
            width: 400px;
            background-color: #fff;
            margin: 15px;
            padding: 10px;
            float: left;
            border-radius: 4px;
        }
        .menublock .title {
            font-weight: bold;
        }
        .menublock a {
            color: #000;
        }
        .menublock ul {
            list-style-type: square;
            margin-bottom: 3px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="menublock">
        <span class="title">
            <span class="glyphicon glyphicon-floppy-disk"></span> Administrative
        </span>
        <ul>
            <li><a href="{{ url_for('admin.users_token') }}">Token operations</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('admin.system_logs') }}">System logs</a></li>
        </ul>
    </div>
    <div class="menublock">
        <span class="title">
            <span class="glyphicon glyphicon glyphicon-list-alt"></span> Tables
        </span>
        <ul>
            <li><a href="/admin/flask-models/userview/" target="_blank">Users</a></li>
        </ul>
        <ul>
            <li><a href="/admin/flask-models/taskview/" target="_blank">Tasks</a></li>
        </ul>
        <ul>
            <li><a href="/admin/flask-models/projectview/" target="_blank">Projects</a></li>
        </ul>
        <ul>
            <li><a href="/admin/flask-models/clientview/" target="_blank">Clients</a></li>
        </ul>
        <ul>
            <li><a href="/admin/flask-models/jobview/" target="_blank">Jobs</a></li>
        </ul>
    </div>
{% endblock %}
