<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='main.css') }}">

    {% block head %}
    {% endblock %}
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if g.user.is_authenticated() %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">CRM</a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">Logged in as <strong><em>{{ g.user.full_name() }}</em></strong></p>
                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
</body>

</html>
