{% extends 'layout.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Login form</h2>
        </div>

        <div class="panel-body">
            {% if form.errors %}
                <div>
                    <ul class="errors">
                        {% for name, errors in form.errors|dictsort if errors %}
                            {% for error in errors %}
                                <li>{{ form[name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST">
                {{ form.hidden_tag() }}
                <table class="form">
                    <tr>
                        <td class="desc"><label>Login:</label></td>
                        <td>{{ form.login }}</td>
                    </tr>
                    <tr>
                        <td class="desc"><label>Password:</label></td>
                        <td>
                            {{ form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td class="desc"></td>
                        <td><input type="submit" /></td>
                   </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
