{% extends 'layout.html' %}

{% block head %}
    <title>System - Logs</title>
{% endblock %}

{% block body %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Logs</h2>
        </div>
        <div class="panel-body">
            <form method="GET">
                {{ form.hidden_tag() }}
                <table class="form">
                    <tr>
                        <td class="desc"><label>Text:</label></td>
                        <td>{{ form.text() }}</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>
            </form>
        </div>
  	</div>

    <table class="table table-striped table-hover">
        <tr>
            <th>Text</th>
            <th>Created</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.text }}</td>
            <td>{{ log.created }} </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
