{% extends 'layout.html' %}

{% block head %}
    <title>Users - Token</title>
{% endblock %}

{% block body %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Token generator form</h2>
        </div>

        <div class="panel-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                <table class="form">
                    <tr>
                        <td class="desc"><label>Login:</label></td>
                        <td>{{ form.login() }}</td>
                    </tr>
                    <tr>
                        <td class="desc"><label>Password:</label></td>
                        <td>
                            {{ form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td class="desc"></td>
                        <td><input type="submit" value="Get" class="btn btn-primary" /></td>
                    </tr>
                    <tr class="hr">
                        <td class="desc">Token:</td>
                        <td id='token-plain'>{{ form.token.data }}</td>
                    </tr>
                    <tr class="hr">
                        <td class="desc">Copy token:</td>
                        <td><button id="token-copy" class="btn">Copy clipboard</button></td>
                    </tr>
                    <tr>
                        <td class="desc">User ID:</td>
                        <td>{{ form.user_id.data }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Token decode form</h2>
        </div>

        <div class="panel-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                <table class="form">
                    <tr>
                        <td class="desc"><label>Token:</label></td>
                        <td>{{ form.token(class = 'width-5') }}</td>
                    </tr>
                    <tr>
                        <td class="desc"></td>
                        <td><input type="submit" value="Decode" class="btn btn-primary" /></td>
                    </tr>
                    <tr class="hr">
                        <td class="desc">Data:</td>
                        <td>{{ form.decode.data }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('token-copy').onclick = function() {
            var text = document.getElementById('token-plain').innerHTML;
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
            return false;
        }
    </script>
{% endblock %}
