<!DOCTYPE html>

<html lang="en" class="no-js" ng-app="crmApp">
	<head>
		<meta charset="utf-8"/>
		<title>CRM | Login</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<script src="http://yandex.st/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://yandex.st/angularjs/1.2.15/angular.min.js"></script>
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
		<link href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/uniform.default.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/pages/login.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/metronic-components.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/metronic-plugins.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/themes/default.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
		<script>
			var crmApp = angular.module('crmApp', []);

			crmApp.controller('UserController', function($scope, $http) {
				$scope.login = function() { 
					$http.post('/api/auth/token', $.param({
						login: $scope.username,
						password: CryptoJS.SHA1($scope.password).toString()
					}), {
						headers: {'Content-Type': 'application/x-www-form-urlencoded'}
					}).success(function(data) {
						sessionStorage.setItem('token', data.data.token);
						window.location.href = '/tasks.html'
					}).error(function(data) {
						alert(data.message);
					})
					return false;
				}
			});
		</script>
	</head>

	<body ng-controller="UserController" class="login">
		<div class="menu-toggler sidebar-toggler">
		</div>
		<div class="content">
			<form ng-submit="login()" class="login-form" novalidate="novalidate">
				<h3 class="form-title">Login to your account</h3>
				<div class="alert alert-danger display-hide">
					<button data-close="alert" class="close"></button>
					<span>
					Enter any username and password. </span>
				</div>
				<div class="form-group">
					<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
					<label class="control-label visible-ie8 visible-ie9">Username</label>
					<div class="input-icon">
						<i class="fa fa-user"></i>
						<input type="text" ng-model="username" name="username" placeholder="Username" autocomplete="off" class="form-control placeholder-no-fix">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label visible-ie8 visible-ie9">Password</label>
					<div class="input-icon">
						<i class="fa fa-lock"></i>
						<input type="password" ng-model="password" name="password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix">
					</div>
				</div>
				<div class="form-actions">
					<label class="checkbox">
					<div class="checker"><span><input type="checkbox" value="1" name="remember"></span></div> Remember me </label>
					<button class="btn green pull-right" type="submit">
					Login <i class="m-icon-swapright m-icon-white"></i>
					</button>
				</div>
				<div class="forget-password">
					<h4>Forgot your password ?</h4>
					<p>
						 no worries, click <a id="forget-password" href="javascript:;">
						here </a>
						to reset your password.
					</p>
				</div>
			</form>
		</div>
		<div class="copyright">
			 2014 &copy; Metronic - Admin Dashboard Template.
		</div>
	</body>
</html>
