<!DOCTYPE html>

<html lang="en" class="no-js" ng-app="crmApp">
	<head>
		<meta charset="utf-8"/>
		<title>CRM | Tasks</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<script src="http://yandex.st/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://yandex.st/angularjs/1.2.15/angular.min.js"></script>
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
		<link href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/uniform.default.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/pages/login.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/metronic-components.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/external/metronic-plugins.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/themes/default.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
		<script>
			var crmApp = angular.module('crmApp', []);

			crmApp.controller('TasksController', function($scope, $http) {
				$scope.tasks = [];

				$http.defaults.headers.common.Authorization = sessionStorage.getItem('token');
				$http.get('/api/tasks/', {
					params: {
						order: 'id:desc'
					}
				}).success(function(data) {
					$scope.tasks = data.data;
				});
			});
		</script>
		<style>
			body {
				margin: 25px !important;
			}
		</style>
	</head>
	<body ng-controller="TasksController">
		<div class="page-content-wrapper">
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-cogs"></i>Tasks
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Created</th>
							</tr>
							<tr ng-repeat="task in tasks">
								<td><strong>#{{ task.id }}</strong></td>
								<td>{{ task.name }}</td>
								<td>{{ task.created }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		
	</body>
</html>
