/* main css rules for admin panel */

body {
    padding-top: 70px;
    background-color: #ddd;
}

.container {
	margin-left: 10px;

}

table.form input {
    border: 1px solid #ccc;
    margin: 3px;
}
table.form input.width-5 {
    width: 500px;
}
table.form .desc {
    font-weight: bold;
    padding: 6px;
}

.table {
	background-color: #fff;

}
.table td {
	border: none !important;
	padding: 2px !important;
}